
<div class="no-row no-gutter text-center">
  <div class="col-xs-12 ">
    
     <!-- link to direct to homepage when url accessed is not available -->
      <a class="nav-link " id="recipes-tab" data-toggle="tab" routerLinkActive="active" 
      routerLink="/" role="tab" aria-controls="recipes" aria-selected="false">
      <h4>Click me for more computer products</h4></a>
      <h4 class="homeMargin">{{ errorMessage }}</h4>
    <img  style="cursor: pointer" routerLinkActive="active" routerLink="/" src="https://res.cloudinary.com/dr9bbyvab/image/upload/v1537009719/mom-pop/not-found/ffptop.png">
      
      <h4 class="homeMargin">Data is not currently available</h4>
      <!-- link to direct to homepage when url accessed is not available -->
      <a class="nav-link " id="recipes-tab" data-toggle="tab" routerLinkActive="active" 
       routerLink="/" role="tab" aria-controls="recipes" aria-selected="false">
       <h4>Click me for more computer products</h4></a>
     

  </div>

  


</div>
