div.box-shadow {
    border: 1px solid #999;
    padding: 1px;
}

.fa {
    cursor: pointer;
    padding: 2px;
}
    /* to wrap text within a tag */
.b {
    word-wrap: break-word;
}
.wrappercenter{
    display: flex;
    justify-content: center;
}

 /* Back to top button */
 .back-to-top {
    position: fixed;
    display: none;
    background: #ee419e;
    color: #fff;
    display: inline-block;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
  }
  
  .back-to-top i {
    padding-top: 12px;
    color: #fff;
  }
  
  @media (max-width: 768px) {
    .back-to-top {
      bottom: 15px;
    }
  }
